[Desktop Entry]
Version=1.0
Type=Application
Name=MRIcroGL
Exec=/usr/local/MRIcroGL12/MRIcroGL
Icon=mricrogl.svg
Terminal=false
Categories=Neuroimaging;
StartupNotify=true

