[Desktop Entry]
Version=1.0
Type=Application
Name=Install CONN18.b Standalone
Name[ja]=CONN 18.b スタンドアロン版のインストール
Exec=sh -c "~/git/lin4neuro-bionic/installer-scripts/conn18b_installer_bionic.sh"
Icon=conn
#Categories=Neuroimaging;
StartupNotify=true
Terminal=true

