[Desktop Entry]
Version=1.0
Type=Application
Name=Install CONN18.a Standalone
Name[ja]=CONN 18.a スタンドアロン版のインストール
Exec=sh -c "~/git/lin4neuro-bionic/installer-scripts/conn18a_installer_bionic.sh"
Icon=conn
#Categories=Neuroimaging;
StartupNotify=true
Terminal=true
NoDisplay=true

