[Desktop Entry]
Version=1.0
Type=Application
Name=Install FreeSurfer 6.0.1
Name[ja]=FreeSurfer 6.0.1のインストール
Exec=sh -c "~/git/lin4neuro-bionic/installer-scripts/freesurfer6.0.1_installer_bionic.sh"
Icon=fscortex
#Categories=Neuroimaging;
StartupNotify=true
Terminal=true

