[Desktop Entry]
Version=1.0
Type=Application
Name=Install Python3 libraries for Machine Learning
Name[ja]=機械学習に必要なPython3ライブラリのインストール
Exec=sh -c "~/git/lin4neuro-bionic/installer-scripts/ml_pyhon3_installer_bionic.sh"
Icon=python
#Categories=Neuroimaging;
StartupNotify=true
Terminal=true

